<!DOCTYPE html>
<html>

<head>
<title>Ingredienti Page Form: Catering Management</title>
<link rel="stylesheet" href="../css/main.css" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap"
	rel="stylesheet">
</head>
<body>
	<section class="header-ingredienti">
		<nav>
			<img src="../img/logo.png">
			<h1 class="title">The Catering Company</h1>
			<div class="nav-links">
				<ul>
					<li><a href="/default"> HOME </a></li>
					<li><a th:href="@{/admin/chef}"> CHEFS </a></li>
					<li><a th:href="@{/admin/buffetForm}"> BUFFETS </a></li>
					<li><a th:href="@{/admin/ingredientiForm}"> INGREDIENTI </a></li>
					<li><a th:href="@{/admin/piattiForm}"> PIATTI </a></li>
				</ul>
			</div>
		</nav>

		<div class="text-box">
			<div class="form-box">
				<form th:action="@{/admin/ingredienteForm}" method="post"
					th:object="${ingrediente}">
					<div th:if="${#fields.hasGlobalErrors()}">
						<p th:each="err : ${#fields.globalErrors()}" th:text="${err}" th:style="'color:red'">Errore
							globale</p>
					</div>
					<div>
						<label>Nome:</label> <input type="text" th:field="*{nome}" />
						<div>
							<span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}" th:style="'color:red'"></span>
						</div>
					</div>
					<div>
						<label>Origine:</label> <input type="text" th:field="*{origine}" />
						<div>
							<span th:if="${#fields.hasErrors('origine')}" th:errors="*{origine}"></span>
						</div>
					</div>
					<div>
						<label>Descrizione:</label><input type="text" th:field="*{descrizione}" />
						<div>
							<span th:if="${#fields.hasErrors('descrizione')}" th:errors="*{descrizione}" th:style="'color:red'"></span>
						</div>
					</div>
					<div>
						<button type="submit" />
						Conferma
						</button>
					</div>
				</form>
			</div>
			<div class="elenco-elem">
				<h4>Elenco ingredienti:</h4>
				<ul>
					<li th:each="ingrediente : ${ingredienti}"><a
						th:text="${ingrediente.nome} + ' ' + ${ingrediente.origine} + ' ' + ${ingrediente.descrizione}">...</a>
						<form
							th:action="@{'/admin/cancellaIngrediente' + '/' + ${ingrediente.id}}"
							method="post">
							<button>Cancella</button>
						</form></li>
				</ul>

			</div>
		</div>



	</section>

</body>

</html>