<!DOCTYPE html>
<html>

<head>
<title>Buffet Page Form: Catering Management</title>
<link rel="stylesheet" href="../css/main.css" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap"
	rel="stylesheet">
</head>
<body>
	<section class="header-buffet">
		<nav>
			<img src="../img/logo.png">
			<h1 class="title">The Catering Company</h1>
			<div class="nav-links">
				<ul>
					<li><a href="/default"> HOME </a></li>
					<li><a th:href="@{/admin/chef}"> CHEFS </a></li>
					<li><a th:href="@{/admin/buffetForm}"> BUFFETS </a></li>
					<li><a th:href="@{/admin/ingredientiForm}"> INGREDIENTI </a></li>
					<li><a th:href="@{/admin/piattiForm}"> PIATTI </a></li>
				</ul>
			</div>
		</nav>

		<div class="text-box">
			<div class="form-box">
				<form th:action="@{/admin/buffetForm}" method="post" th:object="${buffet}">
					<div th:if="${#fields.hasGlobalErrors()}">
						<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">Errore
							globale</p>
					</div>
					<div>
						<label>Nome:</label> <input type="text" th:field="*{nome}" />
						<div>
							<span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span>
						</div>
					</div>
					<div>
						<label>Descrizione:</label> <input type="text" th:field="*{descrizione}" />
						<div>
							<span th:if="${#fields.hasErrors('descrizione')}"
								th:errors="*{descrizione}"></span>
						</div>
					</div>
					<div>
						<label>Chef:</label> <select th:field="*{chef}">
							<th:block th:each="chef : ${listChefs} ">
								<option th:text="${chef.nome} + ' ' + ${chef.cognome} "
									th:value="${chef.id}">
							</th:block>
						</select>
						<div>
							<span th:if="${#fields.hasErrors('chef')}" th:errors="*{chef}"></span>
						</div>
					</div>
					<div>
						<button type="submit" />
						Conferma
						</button>
					</div>
				</form>
			</div>
			<div class="elenco-elem">
				<h4>Elenco buffet:</h4>
				<ul>
					<li th:each="buffet : ${buffets}"><a
						th:text="${buffet.nome} + ' ' + ${buffet.descrizione} + '-made by: ' + ${buffet.chef.nome}+ ' ' + ${buffet.chef.cognome}">...</a>
						<form th:action="@{'/admin/cancellaBuffet' + '/' + ${buffet.id}}"
							method="post">
							<button>Cancella Buffet</button>
						</form> <a href="buffetPerChef.html"
						th:href="@{'/admin/piatti' + '/' + ${buffet.id}}"><button>Vedi
								Piatti Proposti</button> </a></li>
				</ul>

			</div>
		</div>



	</section>


</body>

</html>