<!DOCTYPE html>
<html>

<head>
<title>Chef Page: Catering Management</title>
<link rel="stylesheet" th:href="@{/css/main.css}" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap"
	rel="stylesheet">
</head>
<body>
	<section class="header-chef">
		<nav>
			<img src="img/logo.png">
			<h1 class="title">The Catering Company</h1>
			<div class="nav-links">
				<ul>
					<li><a href="/"> HOME </a></li>
					<li><a href=""> ABOUT </a></li>
					<li><a th:href="@{/chef}"> CHEFS </a></li>
					<li><a href=""> CONTACT </a></li>
				</ul>
			</div>
		</nav>

		<div class="text-box">
			<form th:action="@{/chef}" method="post" th:object="${chef}">
				<div>
					nome: <input type="text" th:field="*{nome}" />
				</div>
				<div>
					cognome: <input type="text" th:field="*{cognome}" />
				</div>
				<div>
					nazionalita: <input type="text" th:field="*{nazionalita}" />
				</div>
				<div>
					<button type="submit" />
					Conferma
					</button>
				</div>
			</form>
		</div>

		<div class="elenco-chef">
			<h4>Elenco chef:</h4>
			<ul>
				<li th:each="chef : ${chefs}"><a
					th:text="${chef.nome} + ' ' + ${chef.cognome} + ' ' + ${chef.nazionalita}">Paolo
						Rossi 18</a>
					<form th:action="@{'/cancellaChef' + '/' + ${chef.id}}"
						method="post"><button>Cancella Chef</button></form></li>
			</ul>

		</div>

	</section>
	<!-- - Footer - -->

	<footer> ewlkgn </footer>



</body>

</html>