<!DOCTYPE html>
<html>

<head>
<title>Home Page</title>
<link rel="stylesheet" href="css/main.css" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap"
	rel="stylesheet">
<script src="https://kit.fontawesome.com/52fe91be5d.js"
	crossorigin="anonymous"></script>
</head>
<body>
	<section class="header">
		<nav>
			<img src="img/logo.png">
			<h1 class="title">The Catering Company</h1>
			<div class="nav-links" id="navLinks">
				<i class="fa-solid fa-circle-xmark" onclick="hideMenu()"></i>
				<ul>
					<li><a href="/"> HOME </a></li>
					<li><a th:href="@{/default}"> ADMIN </a></li>
					<li><a th:href="@{/chef}">OUR CHEFS </a></li>
				</ul>
			</div>
			<i class="fa-solid fa-bars" onclick="showMenu()"></i>
		</nav>

		<div class="text-box">
			<h1>La vostra soddisfazione, la nostra priorit&agrave</h1>
			<p>La nostra professionalit&agrave &egrave messa al tuo servizio,
				per seguirti e consigliarti nella scelta di ogni minimo particolare,
				con la cura e l'attenzione che ogni evento, piccolo o grande che
				sia, richiede. Ti aiuteremo a vivere momenti indimenticabili, per te
				ed i tuoi ospiti. La qualit&agrave del nostro servizio insieme alla
				cortesia ed alla competenza del nostro staff, saranno la nostra
				garanzia per la buona riuscita del tuo evento.</p>
		</div>

	</section>

	<section class="gallery">
		<h1>Alcuni dei nostri eventi:</h1>
		<div>

			<span> <img src="img/eventi.jpg" width="350px" height="250">
			</span> <span> <img src="img/location.jpg" width="350px" height="250">
			</span> <span> <img src="img/eventi_1.jpg" width="350px" height="250">
			</span> <span> <img src="img/eventi_2.jpg" width="350px" height="250">
			</span>
		</div>
	</section>
	<!-- - Footer - -->

	<footer>
		The Catering Company | Via Roma, 24 - 00142 Roma (RM) ITALIA| P.Iva
		000000000 <br> <a href="mailto:pas.lazzaro@stud.uniroma3.it">pas.lazzaro@stud.uniroma3.it</a>
		| <span itemprop="telephone">+39 347 58 30 387</span> <br>

	</footer>
	<!---------Javascript for Toggle Menu----- -->
	<script>
		var navLinks = document.getElementById("navLinks");
		function showMenu() {
			navLinks.style.right = "0";
		}
		function hideMenu() {
			navLinks.style.right = "-200px";
		}
	</script>

</body>

</html>