<!DOCTYPE html>
<html>

<head>
<title>Home Page</title>
<link rel="stylesheet" href="css/main.css" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap"
	rel="stylesheet">

</head>
<body>
	<section class="header">
		<nav>
			<img src="img/logo.png">
			<h1 class="title">The Catering Company</h1>
			<div class="nav-links">
				<ul>
					<li><a href="/"> HOME </a></li>
					<li><a th:href="@{/default}"> ADMIN </a></li>
					<li><a th:href="@{/chef}">OUR CHEFS </a></li>
				</ul>
			</div>

		</nav>

		<div class="text-box">
			<h1>La vostra soddisfazione, la nostra priorit&agrave</h1>
			<h2>La nostra professionalit&agrave &egrave messa al tuo
				servizio, per seguirti e consigliarti nella scelta di ogni minimo
				particolare, con la cura e l'attenzione che ogni evento, piccolo o
				grande che sia, richiede. Ti aiuteremo a vivere momenti
				indimenticabili, per te ed i tuoi ospiti. La qualit&agrave del
				nostro servizio insieme alla cortesia ed alla competenza del nostro
				staff, saranno la nostra garanzia per la buona riuscita del tuo
				evento.</h2>

		</div>

	</section>

	<section class="gallery">
		<h1>Alcuni scatti dei nostri eventi:</h1>
		<br>
		<div class="gallery-container">
			<img src="img/eventi.jpg" width="300px" height="250"> <img
				src="img/location.jpg" width="300px" height="250"> <img
				src="img/eventi_1.jpg" width="300px" height="250">	<img
				src="img/eventi-3.jpg" width="300px" height="250">			
		</div>
		<h1>Ecco dove ci puoi trovare:</h1>
		<br>
		<div>
			
			<p>
				<iframe
					src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d637.5198342851593!2d12.666801769996216!3d41.790788088493315!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1325865ff505d3eb%3A0xc276c8ed55ef730d!2sVia%20Roma%2C%2024%2C%2000046%20Grottaferrata%20RM!5e0!3m2!1sit!2sit!4v1655285397328!5m2!1sit!2sit"
					width="400" height="300" style="border: 0;" allowfullscreen=""
					loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
			</p>
			
		</div>


	</section>
	<!-- - Footer - -->

	<footer>
		The Catering Company | Via Roma, 24 - 00142 Roma (RM) ITALIA| P.Iva
		000000000 <br> <a href="mailto:pas.lazzaro@stud.uniroma3.it">pas.lazzaro@stud.uniroma3.it</a>
		| <span itemprop="telephone">+39 347 58 30 387</span> <br>

	</footer>

</body>

</html>