<!DOCTYPE html>
<html>

<head>
<title>Admin Page: Catering Management</title>
<link rel="stylesheet" href="css/main.css" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap"
	rel="stylesheet">
</head>
<body>
	<section class="header">
		<nav>
			<img src="img/logo.png">
			<h1 class="title">The Catering Company</h1>
			<div class="nav-links">
				<ul>
					<li><a href="/"> HOME </a></li>
					<li><a th:href="@{/admin/chef}"> CHEFS </a></li>
					<li><a th:href="@{/admin/buffetForm}"> BUFFETS </a></li>
					<li><a th:href="@{/admin/ingredientiForm}"> INGREDIENTI </a></li>
					<li><a th:href="@{/admin/piattiForm}"> PIATTI </a></li>
					<li><a th:href="@{/logout}">LOG OUT</a></li>
				</ul>
				
			</div>
		</nav>

		<div class="text-box">
			<h1>ADMIN SECTION</h1>
		</div>

	</section>



</body>

</html>