<!DOCTYPE html>
<html>

<head>
<link rel="stylesheet" href="/css/main.css" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap"
	rel="stylesheet">
<title>Registration Successful Page</title>
</head>
	<body>
<section class="header">
	<nav>
		<img src="../img/logo.png">
		<h1 class="title">The Catering Company</h1>
	</nav>


		<div class="text-box">
			<h1>Congratulazioni ti sei registrato!</h1>
		</div>
		</section>
	</body>
	
</html>