<!DOCTYPE html>
<html>

<head>
<title>Chef Page Form: Catering Management</title>
<link rel="stylesheet" href="../css/main.css" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap"
	rel="stylesheet">
</head>
<body>
	<section class="header-chef">
		<nav>
			<img src="../img/logo.png">
			<h1 class="title">The Catering Company</h1>
			<div class="nav-links">
				<ul>
					<li><a href="/default"> HOME </a></li>
					<li><a href=""> ABOUT </a></li>
					<li><a th:href="@{/admin/chef}"> CHEFS </a></li>
					<li><a th:href="@{/admin/buffetForm}"> BUFFETS </a></li>
					<li><a th:href="@{/admin/ingredientiForm}"> INGREDIENTI </a></li>
					<li><a th:href="@{/admin/piattiForm}"> PIATTI </a></li>
					<li><a href=""> CONTACT </a></li>
				</ul>
			</div>
		</nav>

		<div class="text-box">
			<div class="form-box">
				<form th:action="@{/admin/chef}" method="post" th:object="${chef}">
					<div th:if="${#fields.hasGlobalErrors()}">
						<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">Errore
							globale</p>
					</div>
					<div>
						Nome: <input type="text" th:field="*{nome}" />
						<div>
							<span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span>
						</div>
					</div>
					<div>
						Cognome: <input type="text" th:field="*{cognome}" />
						<div>
							<span th:if="${#fields.hasErrors('cognome')}"
								th:errors="*{cognome}"></span>
						</div>
					</div>
					<div>
						Nazionalita: <input type="text" th:field="*{nazionalita}" />
						<div>
							<span th:if="${#fields.hasErrors('nazionalita')}"
								th:errors="*{nazionalita}"></span>
						</div>
					</div>
					<div>
						<button type="submit" />
						Conferma
						</button>
					</div>
				</form>
			</div>
			<div class="elenco-elem">
				<h4>Elenco chef:</h4>
				<ul>
					<li th:each="chef : ${chefs}"><a
						th:text="${chef.nome} + ' ' + ${chef.cognome} + ' ' + ${chef.nazionalita}">Paolo
							Rossi 18</a>
						<form th:action="@{'/admin/cancellaChef' + '/' + ${chef.id}}"
							method="post">
							<button>Cancella Chef</button>
						</form> <a
						th:href="@{'/admin/buffet' + '/' + ${chef.id}}">
							<button>Vedi buffet proposti</button></a>
					 <a
						th:href="@{'/admin/chefEdit' + '/' + ${chef.id}}">
							<button>Modifica</button>
					</a></li>
				</ul>

			</div>
		</div>



	</section>
	<!-- - Footer - -->

	<footer> ewlkgn </footer>



</body>

</html>