<!DOCTYPE html>
<html>

<head>
<title>Ingredienti Page: Catering Management</title>
<link rel="stylesheet" href="../../css/main.css" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap"
	rel="stylesheet">
<script src="https://kit.fontawesome.com/52fe91be5d.js"
	crossorigin="anonymous"></script>

</head>
<body>
	<section class="header-ingredienti">
		<nav>
			<img src="../../img/logo.png">
			<h1 class="title">The Catering Company</h1>
			<div class="nav-links" id="navLinks">
				<i class="fa-solid fa-circle-xmark" onclick="hideMenu()"></i>
				<ul>
					<li><a href="/"> HOME </a></li>
					<li><a th:href="@{/chef}"> OUR CHEFS </a></li>
				</ul>
			</div>
			<i class="fa-solid fa-bars" onclick="showMenu()"></i>
		</nav>

		<div class="text-box">
			<div class="elenco">
				<h1>
					<a th:text="${piatto.nome} + ': ' + ${piatto.descrizione}">...</a>
				</h1>
				<h4>Elenco ingredienti:</h4>
				<ul>
					<li th:each="ingrediente : ${piatto.ingredienti}"><a
						th:text="${ingrediente.nome} + ',origine: ' + ${ingrediente.origine} + ',descrizione: ' + ${ingrediente.descrizione}">...</a>
					</li>
				</ul>

			</div>
		</div>



	</section>
	<!-- - Footer - -->

	<footer>
		The Catering Company | Via Roma, 24 - 00142 Roma (RM) ITALIA| P.Iva
		000000000 <br> <a href="mailto:pas.lazzaro@stud.uniroma3.it">pas.lazzaro@stud.uniroma3.it</a>
		| <span itemprop="telephone">+39 347 58 30 387</span> <br>

	</footer>
	<!---------Javascript for Toggle Menu----- -->
	<script>
		var navLinks = document.getElementById("navLinks");
		function showMenu() {
			navLinks.style.right = "0";
		}
		function hideMenu() {
			navLinks.style.right = "-200px";
		}
	</script>


</body>

</html>