<!DOCTYPE html>
<html>

<head>
<title>Piatto Edit Page: Catering Management</title>
<link rel="stylesheet" href="../../css/main.css" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap"
	rel="stylesheet">
</head>
<body>
	<section class="header-chef">
		<nav>
			<img src="../../img/logo.png">
			<h1 class="title">The Catering Company</h1>
			<div class="nav-links">
				<ul>
					<li><a href="/default"> HOME </a></li>
					<li><a th:href="@{/admin/chef}"> CHEFS </a></li>
					<li><a th:href="@{/admin/buffetForm}"> BUFFETS </a></li>
					<li><a th:href="@{/admin/ingredientiForm}"> INGREDIENTI </a></li>
					<li><a th:href="@{/admin/piattiForm}"> PIATTI </a></li>
				</ul>
			</div>
		</nav>

		<div class="text-box">
			<div class="elenco">
			<h1>Modifica Piatto</h1>
				<form th:action="@{'/admin/piattoEdit' + '/' + ${piatto.id}}" method="post"
					th:object="${piatto}">
					<div th:if="${#fields.hasGlobalErrors()}">
						<p th:each="err : ${#fields.globalErrors()}" th:text="${err}" th:style="'color:red'">Errore
							globale</p>
					</div>
					<div>
						<label>Nome:</label> <input type="text" th:field="*{nome}" />
						<div>
							<span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}" th:style="'color:red'"></span>
						</div>
					</div>
					<div>
						<label>Descrizione:</label> <input type="text" th:field="*{descrizione}" />
						<div>
							<span th:if="${#fields.hasErrors('descrizione')}"
								th:errors="*{descrizione}" th:style="'color:red'"></span>
						</div>
					</div>
					<div>
						<label>Buffet:</label><select th:field="*{buffet}">
							<th:block th:each="buffet : ${listBuffets} ">
								<option
									th:text="${buffet.nome} + ' ' + ${buffet.descrizione} + '-made by: ' + ${buffet.chef.nome} + ' ' + ${buffet.chef.cognome}"
									th:value="${buffet.id}">
							</th:block>
						</select>
						<div>
							<span th:if="${#fields.hasErrors('buffet')}"
								th:errors="*{buffet}" th:style="'color:red'"></span>
						</div>
					</div>
					<div>
						<label>Ingredienti:</label>
						<th:block th:each="ingrediente : ${listIngredients} ">
							<input type="checkbox" th:field="*{ingredienti}"
								th:text="${ingrediente.nome}" th:value="${ingrediente.id}">
						</th:block>
						<div>
							<span th:if="${#fields.hasErrors('ingredienti')}"
								th:errors="*{ingredienti}" th:style="'color:red'"></span>
						</div>
					</div>
					<div>
						<button type="submit" />
						Conferma
						</button>
					</div>
			</div>
		</div>



	</section>

</body>

</html>