<!DOCTYPE html>
<html>

<head>
<title>Chef Page Form: Catering Management</title>
<link rel="stylesheet" href="../css/main.css" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap"
	rel="stylesheet">
</head>
<body>
	<section class="header-piatti">
		<nav>
			<img src="../img/logo.png">
			<h1 class="title">The Catering Company</h1>
			<div class="nav-links">
				<ul>
					<li><a href="/default"> HOME </a></li>
					<li><a href=""> ABOUT </a></li>
					<li><a th:href="@{/admin/chef}"> CHEFS </a></li>
					<li><a th:href="@{/admin/buffetForm}"> BUFFETS </a></li>
					<li><a th:href="@{/admin/ingredientiForm}"> INGREDIENTI </a></li>
					<li><a th:href="@{/admin/piattiForm}"> PIATTI </a></li>
					<li><a href=""> CONTACT </a></li>
				</ul>
			</div>
		</nav>

		<div class="text-box">
			<div class="form-box">
				<form th:action="@{/admin/piattiForm}" method="post" th:object="${piatto}">
					<div th:if="${#fields.hasGlobalErrors()}">
						<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">Errore
							globale</p>
					</div>
					<div>
						Nome: <input type="text" th:field="*{nome}" />
						<div>
							<span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span>
						</div>
					</div>
					<div>
						Descrizione: <input type="text" th:field="*{descrizione}" />
						<div>
							<span th:if="${#fields.hasErrors('descrizione')}"
								th:errors="*{descrizione}"></span>
						</div>
					</div>
					<div>
						Buffet:<select th:field="*{buffet}">
							<th:block th:each="buffet : ${listBuffets} ">
								<option
									th:text="${buffet.nome} + ' ' + ${buffet.descrizione} + '-made by: ' + ${buffet.chef.nome} + ' ' + ${buffet.chef.cognome}"
									th:value="${buffet.id}">
							</th:block>
						</select>
						<div>
							<span th:if="${#fields.hasErrors('buffet')}"
								th:errors="*{buffet}"></span>
						</div>
					</div>
					<div>
						Ingredienti:
						<th:block th:each="ingrediente : ${listIngredients} ">
							<input type="checkbox" th:field="*{ingredienti}"
								th:text="${ingrediente.nome}" th:value="${ingrediente.id}">
						</th:block>
						<div>
							<span th:if="${#fields.hasErrors('ingredienti')}"
								th:errors="*{ingredienti}"></span>
						</div>
					</div>
					<div>
						<button type="submit" />
						Conferma
						</button>
					</div>
				</form>
			</div>
			<div class="elenco-elem">
				<h4>Elenco Piatti:</h4>
				<ul>
					<li th:each="piatto : ${piatti}"><a
						th:text="${piatto.nome} + ' ' + ${piatto.descrizione}+ ' nel buffet: ' + ' ' + ${piatto.buffet.nome} + '-made by: ' + ${piatto.buffet.chef.nome}+ ' ' + ${piatto.buffet.chef.cognome}">...</a>
						<form th:action="@{'/admin/cancellaPiatto' + '/' + ${piatto.id}}"
							method="post">
							<button>Cancella Piatto</button>
						</form> <a href="buffetPerChef.html"
						th:href="@{'/admin/ingredienti' + '/' + ${piatto.id}}"><button>Vedi
								ingredienti</button></a></li>
				</ul>

			</div>
		</div>



	</section>
	<!-- - Footer - -->

	<footer>
		<p>
			Author: Pasquale Leonardo Lazzaro<br> <a href="mailto:pas.lazzaro@stud.uniroma3.it">pas.lazzaro@stud.uniroma3.it</a>
		</p>
	</footer>



</body>

</html>